{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'ccd_app/dashboardstyle.css' %}">
</head>
<body>
    <div class="navbar"> 
        {% if request.user.role == 'Supervisor' %}  
        <a href="{% url 'discovery' %}" data-section="discovery" onclick="switchSection(this)"><i class="fa fa-search"></i> Discovery</a>
        <a href="{% url 'domain_review' %}" data-section="domain-review" onclick="switchSection(this)"><i class="fa fa-globe"></i> Domain Review</a>
        <a href="{% url 'download' %}" data-section="download" onclick="switchSection(this)"><i class="fa fa-download"></i> Download</a>
        <a href="{% url 'cleaning' %}" data-section="cleaning" onclick="switchSection(this)"><i class="fa fa-trash"></i> Cleaning </a>
    {% elif request.user.role == 'Executive' %} 
        {% for scope in request.user.get_allocated_scopes %}
            {% if scope == 'Discovery' %}
                <a href="{% url 'discovery' %}" data-section="discovery" onclick="switchSection(this)"><i class="fa fa-search"></i> Discovery</a>
            {% elif scope == 'DomainReview' %}
                <a href="{% url 'domain_review' %}" data-section="domain-review" onclick="switchSection(this)"><i class="fa fa-globe"></i> Domain Review</a>
            {% elif scope == 'Download' %}
                <a href="{% url 'download' %}" data-section="download" onclick="switchSection(this)"><i class="fa fa-download"></i> Download</a>
            {% elif scope == 'Cleaning' %}
                <a href="{% url 'cleaning' %}" data-section="cleaning" onclick="switchSection(this)"><i class="fa fa-trash"></i> Cleaning</a>
            {% endif %}
        {% endfor %}
    {% endif %}



        
        {% if request.user.role == 'Supervisor' %}
            <a href="{% url 'reports' %}" data-section="reports" onclick="switchSection(this)"><i class="fa fa-bar-chart"></i> Reports </a> 
            <a href="{% url 'usercreation' %}" data-section="usercreation" onclick="switchSection(this)"><i class="fa fa-user-circle"></i> User Creation </a>  
        {% endif %}
        <a href="{% url 'logout' %}" class="logout-link" data-section="logout" onclick="switchSection(this)">
            <i class="fa fa-sign-out"></i> Logout
        </a>
    </div>


    <div class="dashboard-container">
        {% if user.is_authenticated %}
            <a class="username-wrapper">
                <span class="fa fa-user"></span> <span class="username">{{ user.username }}</span>
            </a>
        {% endif %}
        <h2>Welcome to the Dashboard</h2>
    </div>
    
    <script src="{% static 'ccd_app/dashboard.js' %}"></script>
</body>
</html>